body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hidden {
    visibility: hidden;
    opacity:0;
}
.modal1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 23rem;
    max-width: 60rem;
    background-color: antiquewhite;
    z-index: 1000;
    transition: all 0.5s;
    border-radius: 0.475rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 50px rgba(82, 63, 105, 0.15);
}